@import "~bootstrap/scss/bootstrap-grid";
@import "~@mdi/font/scss/materialdesignicons.scss";
@import "./admin.scss";
//components
@import "components/mainHeader";
@import "components/overlay.scss";
@import "components/card.scss";
@import "components/imageUploader.scss";
@import "components/customButton";

$main: #4F6B9A;


.buttonIcon{
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        color: $main;
    }
}

.flexSpacer{
    flex: 1;
}
